.menubar{
    width: 100%;
    display: flex;
    background: #fff;
}

.menubar .link{
    padding: 5px;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.menubar .link .pulldown{
    padding: 5px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}

.menubar .link:hover .pulldown{
    display: block;
}